.quiz-background {
    display: flex;
    justify-content: center;
    background-color: #EBCFB2;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
}

.quiz-data {
    background-color:#B38D97;
    margin: 10% 10% 10% 10%;
    padding: 1% 1% 1% 1%;
    width: 60%;
    height: 40%;
    border-radius: 15px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    overflow-y: auto;
} 

.quiz-data, h1 {
    font-size: 1em;
    color: #412234;
}

.quiz-question {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 15%;
    color: #412234;
    font-size: 1.2em;
}

.quiz-choices {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: min-content;
    width: 50%;
    background-color: #412234;
    border-radius: 15px; 
    margin-top: 5%;
    padding: 1% 0% 1% 0%;
}

.button-div {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 40%;
    width: 100%;
    color: #412234;
   

}

ol {
    width: 100%;
    flex-flow: row wrap;
}

.button {
    color: #412234;
    background-color: #B38D97;
    border: 1px solid;
    margin: 1% 1% 1% 1%;
    border-radius: 15px; 
}

.button:hover {
    color: #412234;
    background-color: #B38D97;
    border: 3px solid;
    -webkit-box-shadow: 3px 2px 3px 1px #06070E;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 2px 3px 1px #06070E;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 2px 3px 1px #06070E;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.button:focus {
    color: #412234;
    background-color: #B38D97;
    outline: 0;
}


