.main-nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #183A37;
    padding-top: 4vh;
}

.main-nav-logo a {
    text-decoration: none;
    color: #EFD6AC;
    margin-left: 1.5em;
}
.main-nav-items ul {
    display: flex;
    list-style: none;
}
.main-nav-items li {
margin: 0 4em;
}
/* Selects Navlink */
.main-nav-items a,
.main-nav-items button
{
    text-decoration: none;
    color:#EFD6AC;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background: transparent;
}

.main-nav-items a:hover,
.main-nav-items a:active,
.main-nav-items a.active,
.main-nav-items button:hover,
.main-nav-items button:active {
  position: relative;
  top:15%;
  color:#581908;
  text-decoration: none;
}

.main-nav-logo a:hover,
.main-nav-logo button:hover,
.main-nav-logo button:active {
  position: relative;
  color:#581908;
  text-decoration: none;
}
.hrDiv {
    color: #EFD6AC;
    position: relative;
    background-color:#183A37;
    padding-top: 7vh;
}
.hr {
    color: #EFD6AC;
    width: 90%;
    margin: auto;
}
